<html>
  <body background = 'https://previews.123rf.com/images/sdmix/sdmix0901/sdmix090100059/4225091-vector-oscar-statuette-background-eps8-Stock-Vector-hollywood-awards-movie.jpg'>
    <head>
      <h1 style="font-size:64px;">Oscar Winning Movies Analysis</h1>
    </head>  
  
    <p style = "font-size:20px;">   Winning the Oscar is the greatest honor for a film. We did Oscar Winning Movie analysis based on the data we collected from IMDB and Wikipedia.     </p><br><br>


    <form action = "/movie_award">
       <input type="submit" value="Oscar movie of the year" style="width:300px; height:150px;">
    </form>
    <form action = "/become_audience">
       <input type="submit" value="Become an audience" style="width:300px; height:150px;">
    </form>
    <form action = "/watch_movie">
       <input type="submit" value="Who watched Oscar winning movies before" style="width:300px; height:150px;">
    </form>
    <form action = "/company_actor">
       <input type="submit" value="Cash cow for each company" style="width:300px; height:150px;">
    </form>
    <form action = "/company_revenue">
       <input type="submit" value="Company's' revenue earned from Oscar movies" style="width:300px; height:150px;">
    </form>
    <form action = "/company_award">
       <input type="submit" value="Oscar awards got by each company" style="width:300px; height:150px;">
    </form>
    <form action = "/actor_country">
       <input type="submit" value="The countries that an actor's Oscar movie was shown" style="width:300px; height:150px;">
    </form>
    <form action = "/country_award">
       <input type="submit" value="Country with fortune" style="width:300px; height:150px;">
    </form>
    <form action = "/actor_audience">
       <input type="submit" value="Who watched the movie star's film" style="width:300px; height:150px;">
    </form>
       

  </body>
</html>


